.vscode
*.prefs
Designs/

.project
/node_modules
/wp-content/themes/cfm/node_modules
wp-config.php

.idea
Dockerfile
Dockerrun.aws.json
docker-compose.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.project

/wp-content/themes/cfm/build

_docs

=======

.DS_Store


/wp-content/uploads/*

/env/sam.php
/env/craig.php
/env/jamie.php
/env/joe.php
/env/riri.php
/env/victor.php